html{
    font-family: 'Raleway';
    background-color:#FFFFFF;
    -webkit-appearance:none;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.page-header {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
}

    .page-header__logo{
        position: absolute;
        border: 3px solid #000000;
        border-radius: 8px;
        margin: 0;
        margin-left: 40px;
        padding: 4px 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
    }
    .page-header__nav{
        width: 448px;
        min-height: 34px;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
        .page-header__nav button{
            display: none;
        }
        .page-header__nav a{
            display: flex;
            text-decoration: none;
            color:#000000;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            align-items:center;
            height: 100%;
        }

        .page-header__nav a:hover{
            transition: all 0.1s ease;
            transform: translateY(5px);
        }
        .page-header__nav a:visited{
            color:#000000;
        }
    

.page-welcome{
    z-index: -1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
}
    .page-welcome__title{
        margin: 0 auto;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        text-align: center;
    }
    .page-welcome__subtitle{
        margin: 0 auto;
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .page-welcome__buttons-block{
        text-align: center;
        margin-top: 80px;
    }
        .page-welcome__button{
            border:3px solid #181818;
            border-radius: 8px;
            width: 215px;
            height: 56px;
            margin: 11px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            vertical-align: middle;
        }
    
.page-examples{
    max-width: 1440px;
    margin: 0 auto;

}
    .page-examples__filters{
        padding: 0 20px;
        display: flex;
        margin: 0 auto;
        max-width: 484px;
        margin-top: 120px;
        margin-bottom: 40px;
        justify-content: space-between;
    }
        .page-examples__filters button{
            display: inline;
            text-align: center;
            text-decoration: none;
            border:2px solid #181818;
            border-radius: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            vertical-align: middle;
            padding: 4px 16px;
        }
        .page-examples__filters button:hover{
            transition: all 0.1s ease;
            transform: translateY(-5px);
        } 
    .page-examples__photo{
        display: block;
        justify-content: space-between;
        width: 100%;
    }
        .one-photo{
            margin-top: 40px;
            display: block;
            width: calc(100% - 40px);
            padding: 0 20px;
        }
        .one-photo img{
            width: 100%;
        }
        .two-photo{
            display: inline-block;
            margin-top: 40px;
            width: calc(50% - 40px);
            padding: 0 20px;
        }
        .two-photo img{
            width: 100%;
            display: block; 
        }
.page-developer{
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
    .page-developer__photo{
        margin: 0 auto;
        margin-right: 20px;
        width: 500px;
        text-align: right;
    }
    .page-developer__text{
        text-align: left;
        width: 500px;
        margin: 0 auto;
        margin-left: 20px;
        vertical-align: bottom;
    }
        .page-developer__text-title{
            margin: 0;
            margin-top: 80px;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: -0.02em;
        }
        .page-developer__text-text{
            margin:0;
            margin-top: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            
        }
        .page-developer__statistic{
            margin-top: 64px;
            width: 370px;
        }
            .page-developer__statistic p{
                flex-basis: 78px;
                margin: 0;
            }
            .page-developer__statistic-first-line{
                display: flex;
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                flex-direction: row;
                width:100%;
                justify-content: space-between;
                
                margin: 0;
            }
            .page-developer__statistic-second-line{
                display: flex;
                flex-direction: row;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                width:100%;
                justify-content: space-between;
                margin:0;
                margin-top: 16px;
            }   
.page-service{
    display: block;
    margin: 0 auto;
    background-color: #181818;
    text-align: center;
    padding-bottom: 120px;
}
    .page-service__title{
        display: block;
        margin: 0;
        padding-top: 120px;
        color:#FFFFFF;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
    }
    .page-service__block{
        display: inline-block;
        margin: 0 14px;
        margin-top: 80px;
        height: auto;
        background-color:#FFFFFF;
        border-radius: 16px;
        vertical-align: top;
        width: 368px;
    }
    .page-service__block-num{
        margin: 0;
        padding: 40px;
        padding-bottom: 0;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;

        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
        opacity: 0.5;
    }
    .page-service__block-title{
        margin: 0;
        padding: 8px 40px;
        padding-bottom: 0;
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        color: #181818;
    }
    .page-service__block-text{
        margin: 0;
        padding: 16px 40px;
        padding-bottom: 0;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #181818;
    }
    .page-service__block div{
        margin: 0;
        margin-top: 56px;
        margin-left: 40px;
        width: 80px;
        height: 0px;
        opacity: 0.2;
        border: 1px solid #181818;
    }
    .page-service__block-price{
        margin: 0;
        margin-top: 56px;
        margin-left: 40px;
        padding-bottom: 40px;
        text-align: left;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #181818;
    }
    

.page-price{
    
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    padding: 0 20px;
}
    .page-price__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #181818;
    }
    .page-price__form{
        position: relative;
        z-index: 2;
        margin: 0 auto;
        max-width: 448px;
        padding-bottom: 40px;
        width: auto;
        height: auto;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;

    }
    .page-price__type-work{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 400px;
        width: calc(100% - 48px);
        margin: 0 24px;
        padding: 12px 16px;
        margin-top: 40px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
        appearance: none; /*-убираем стандартную стрелку*/
        overflow: hidden;
        background: url('../icons/formangle.png') no-repeat right;  /*-вставляем нужную*/
        background-position-x: calc(100% - 18px);
    }
    .page-price__workload{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 400px;
        width: calc(100% - 48px);
        margin: 0 24px;
        margin-top: 24px;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;

        appearance: none;  /*-убираем стандартную стрелку*/
        overflow: hidden;
        background: url('../icons/formangle.png') no-repeat right;  /*-вставляем нужную*/
        background-position-x: calc(100% - 18px);
    }
    .page-price__workload:disabled{
        opacity:0.5;
    }
    .page-price__check{
        display: flex;
        max-width: 400px;
        width: calc(100% - 48px);
        margin: 0 24px;
        margin-top: 24px;
        align-items:baseline;
        
    }
    .page-price__check p{
        width: 300px;
        text-align: left;
        margin-left: 10px;
    }
    .page-price__submit{
        -webkit-appearance:none;
        max-width: 400px;
        width: calc(100% - 48px);
        margin: 0 24px;
        padding: 12px 16px;
        margin-top: 24px;
        border-radius: 8px;
        border: 2px solid #181818;
        color:#181818;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .page-price__discussion{
        display: none;
        z-index: 1;
        position: relative;
        top:-16px;
        max-width: 400px;
        width: calc(100% - 48px);
        margin: 0 auto;
        align-items:center;
        border:1px solid #CCCCCC;
        text-align: left;
        border-radius: 16px;
    }
    .page-price__discussion-title{
        margin-top: 40px;
        margin-left: 24px;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #181818;
        
    }
    .page-price__discussion-subtitle{
        margin: 0 auto;
        margin-left: 24px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }
    .page-price__discussion-text{
        margin: 0 auto;
        margin-left: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .page-price__button-discussion{
        
        margin: 40px auto;
        margin-left: 24px;
        display: block;
        height: 56px;
        max-width: 352px;
        width: calc(100% - 48px);
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border:3px solid #181818;
    }
.page-question{
    background-color:#181818;
    padding: 0 20px;
    margin-top: 120px;
    text-align: left;
    padding-bottom: 120px;
    
}
    .page-question__title{
        padding-top: 120px;
        color:#FFFFFF;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        margin-bottom: 80px;
    }
    .page-question__block{
        max-width: 1160px;
        display: block;
        margin:16px auto;
        background-color:#FFFFFF;
        border-radius:16px;
        padding: 32px 40px;
        padding-bottom: 0px;
    }
    .question{
        display: flex;
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        align-items: center;
    }
    .question img{
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 0;
        margin-left: auto;
        transition: all 0.5s ease;
        
    }
    .answer{
        display: block;
        margin: 0;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: white;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        padding-bottom: 8px;
    }

    .answer ul {
        padding: 0; /* Убираем поля */
        margin: 0;
        margin-left: 60px; /* Отступ слева */
        
       }

.page-request{
    margin: 0 auto;
    padding: 120px 20px;
    padding-bottom: 160px;
    text-align: center;
}
    .page-request__title{
        margin: 0;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #181818;
    }
    .page-request__subtitle{
        margin: 0;
        margin-top: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .page-request__form{
        margin: 0 auto;
        margin-top: 80px;
        padding: 40px 24px;
        max-width: 400px;
        width: auto;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
            
    }
    .page-request__name{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 368px;
        width: calc(100% - 34px);
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }
    .page-request__email{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 368px;
        width: calc(100% - 34px);
        padding: 12px 16px;
        margin-top: 24px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }
    .page-request__work{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 400px;
        width: 100%;
        padding: 12px 16px;
        margin-top: 24px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
        appearance: none; /*-убираем стандартную стрелку*/
        overflow: hidden;
        background: url('../icons/formangle.png') no-repeat right;  /*-вставляем нужную*/
        background-position-x: calc(100% - 18px);
    }
    .page-request__comm{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 368px;
        width: calc(100% - 34px);
        padding: 12px 16px;
        padding-bottom: 124px;
        margin-top: 24px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }
    
    .page-request__submit{
        -webkit-appearance:none; /* чтобы в сафари отображалось нормально */
        max-width: 400px;
        width: 100%;
        padding: 16px;
        margin-top: 40px;
        border-radius: 8px;
        border:3px solid #181818;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        vertical-align: middle;
    }


.white-button{
    background-color:white;
    color:#000000;
}
    .white-button:active:hover{
        transition: all 0.05s ease;
        background-color:#181818;
        color: white;   
    }
.black-button{
        background:#181818;
        color:#FFFFFF;
    } 
    .black-button:active:hover{
        transition: all 0.05s ease;
        background-color:white;
        color: #181818;  
    }
/* :hover{
        transition: all 0.5s ease;
        background-color:#181818;
        color: white;   
    } */
.icon{
    background-color:#F1F1F1;
    position: absolute;
    border-radius: 50%;
}
    .icon__man{
        width: 170px;
        height: 170px;
        top: 40px;
        right: 148px;
    }
    .icon__man img{
        width: 110px;
        display: block;
        margin: 20px auto 0;
    }
    .icon__moln{
        width: 100px;
        height: 100px;
        top: 6500px;
        left: 100px;
    }
    .icon__moln img{
        width: 40px;
        display: block;
        margin: 30px auto;
    }
    .icon__chat{
        width: 140px;
        height: 140px;
        top: 7100px;
        left: 250px;
    }
    .icon__chat img{
        width: 56px;
        display: block;
        margin: 40px auto;
    }
    .icon__man-2{
        width: 170px;
        height: 170px;
        top: 6800px;
        right: 20px;
    }
    .icon__man-2 img{
        width: 110px;
        display: block;
        margin: 20px auto 0;
        
    }
    .icon__twitter{
        border-radius: 33%;
        width: 24px;
        height: 24px;
        top: 6830px;
        left: calc(50% + 240px);
    }
    .icon__twitter img{
        
        width: 14px;
        display: block;
        margin: 6px auto 0;
    }
    .icon__facebook{
        border-radius: 33%;
        width: 24px;
        height: 24px;
        top: 6870px;
        left: calc(50% + 240px);
    }
    .icon__facebook img{
        width: 8px;
        display: block;
        margin: 5px auto 0;
    }
    .icon__VK{
        border-radius: 33%;
        width: 24px;
        height: 24px;
        top: 6910px;
        left: calc(50% + 240px);
    }
    .icon__VK img{
        width: 16px;
        display: block;
        margin: 8px auto 0;
    }
@font-face {
    font-family: "Raleway";  
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype"); 
    }
@media (max-width:1200px){
    .page-header{
        display: block;
    }
    .page-header__logo{
        display: block;
        position:static;
        text-align:center;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 20px;
        padding: 4px 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }
    .page-service{
        padding: 0 20px;
        padding-bottom: 120px;
    }
    .page-service__block{
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        height: auto;
        background-color:#FFFFFF;
        border-radius: 16px;
        vertical-align: top;
        width: 80%;
        max-width: 800px;
        min-width: 260px;
        text-align: center;
        
    }
    .page-developer{
        display: block;
    }
        .page-developer__photo{
            display: block;
            margin: 0 20px;
            text-align: center;
            width: auto;
        }
        .page-developer__photo img{
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: 400px;
        }
        .page-developer__text{
            margin: 0 20px;
            display: block;
            text-align: center;
            width: auto;
            vertical-align: bottom;
        }
        .page-developer__statistic{
            margin: 0 auto;
            margin-top: 64px;
            width: auto;
        }
        .page-developer__statistic-first-line{
            justify-content: space-around;
        }
        .page-developer__statistic-second-line{
            justify-content: space-around;
        }
}
@media (max-width:720px){
    .two-photo{
        width: calc(100% - 40px);
    }
}
@media (max-width:540px){
    .page-header{
        display: flex;
        justify-content: space-between;
    }
    .page-header__logo{
        margin: 0;
        height: 20px;
        margin-left: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }
    .page-header__nav{
        display: block;
        width: 122px;
        margin: 0;
        margin-right: 20px;
        padding: 0;
        height: 34px;
        justify-content: right;
    }
    .page-header__nav button{
        position: relative;
        display: block;
        color:#181818;
        -webkit-appearance:none;
        background-color:#FFFFFF;
        border: 3px solid #000000;
        border-radius: 8px;
        margin: 0;
        padding: 4px 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        float: right;
        height: 34px;
        width: 100%;
        z-index: 2;
    }
    
    .page-header__nav a{
        display: none;
        position: relative;
        width: 122px;
        padding: 0;
        padding-top: 10px;
        background-color:#FFFFFF;
        z-index: 1;
        vertical-align: bottom;
        justify-content: center;
        
    }
    .page-header__nav a:hover{
        transition: all 0.1s ease;
        transform: translateX(-5px);
    }
    .page-welcome{
        margin-top: 80px;
    }
    .page-welcome__title{
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
    }
    .page-examples__filters{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 340px;
        width: 80%;
        min-width: 240px;
    }
    .page-examples__filters button{
        margin-bottom: 20px;
    }
    .page-developer__statistic{
        display: flex;
        margin:0 auto;
        margin-top: 40px;
        justify-content: space-between;
    }
    .page-developer__statistic-first-line{
        flex-direction: column;
        justify-content: space-around;
        width: 43%;
        align-items:flex-end;
    }
    .page-developer__statistic-second-line{
        margin:0;
        flex-direction: column;
        justify-content: space-around;
        width: 53%;
        align-items:flex-start;
    }
}